*{
  font-family: sans-serif;
}

.card {
    padding: 20px;
    border: 1px solid #c9c9c9;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    margin-top: 1em;
}

H2 {
	text-align: center; 
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

H4 {
	text-align: center; 
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#my_vavbar{
	border-radius: 0.5em;
}

#loading {
    display: none !important;
}

body:has(#_pages_content[data-dash-is-loading="true"]) #loading {
    display: flex !important;
}
